body{
  margin: auto;
}
hr{
  background-color: "#f8f8f8";
  height: 1;
}
.confirm-row{
  background-color: #dae0e5;
}

.status-btn{
  width: 10px;
  margin: 17px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
}
